.VPNavBarTitle a.title {
  font-size: 0;
}

:root:not(.dark) .vp-doc.vp-doc :not(pre) > code {
  color: #d63200;
  background-color: #fff5f5;
}

:root.dark .logo {
  filter: invert(1) hue-rotate(180deg) saturate(150%) brightness(90%);
}

.VPImage.feature-icon.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: var(--vp-c-bg-soft-down);
  padding: 6px;
  transition: background-color 0.25s;
}

.vp-doc strong {
  color: var(--vp-c-brand-dark);
  margin: 0 2px;
}
:root.dark .vp-doc strong {
  color: var(--vp-c-brand);
}

.details-block {
  margin: 16px 0;
  border-radius: 8px;
  padding: 0 16px;
  border: 1px solid transparent;
  border-color: var(--vp-custom-block-details-border);
  background-color: var(--vp-custom-block-details-bg);
}

.details-block summary {
  cursor: pointer;
}

@media (max-width: 768px) {
  .details-block div[class*='language-'] {
    margin: 16px -14px;
    border-radius: 2px;
  }
}

.medium-zoom-overlay {
  z-index: 98;
}

.medium-zoom-image {
  z-index: 99;
}
